appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
boto==2.45.0
certifi==2018.4.16
chardet==3.0.4
decorator==4.0.10
dj-database-url==0.4.0
Django==2.2.28
django-boto==0.3.9
django-filter==2.4.0
django-floppyforms==1.7.0
django-storages==1.5.1
django-taggit==0.22.2
django-taggit-serializer==0.1.7
djangorestframework==3.11.2
easy-thumbnails==2.3
gnureadline==6.3.3
gunicorn==19.4.5
idna==2.7
ipdb==0.10.1
ipython==4.2.1
ipython-genutils==0.1.0
Markdown==2.6.6
newrelic==2.78.0.57
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
Pillow==9.3.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.1
python-dateutil==2.6.0
requests==2.19.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
urllib3==1.23
whitenoise==2.0.6
